<% action = (params[:controller] == "sessions" ? session_url : users_url )%>

<form action="<%= action %>" method='POST'>

	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

	<label>
		Username
		<input type='text' name='user[username]' value='<%= @user.username %>'>
	</label>

	<label>
		Password
		<input type='password' name='user[password]'>
	</label>
	<input type='submit' value='Submit'>
</form>