<form>

	<label>
		Title
		<input type='text' name='feed[title]' value='<%= feed.escape('title') %>'>
	</label>

	<label>
		URL
		<input type='url' name='feed[url]' value='<%= feed.escape('url') %>'>
	</label>

	<input type='submit' value='Add Feed'>

</form>